{
    email admin@{$OPENWEBUI_DOMAIN}
}

{$OPENWEBUI_DOMAIN} {
    encode gzip
    reverse_proxy open-webui:8080 {
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-For {remote}
        header_up X-Forwarded-Proto {scheme}
    }
    log {
        output stdout
        format console
    }
}

{$LITELLM_DOMAIN} {
    encode gzip
    reverse_proxy litellm:4000 {
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-For {remote}
        header_up X-Forwarded-Proto {scheme}
    }
    log {
        output stdout
        format console
    }
}
